body {
    background-color: #EFF7F6;
    color: #313332 ;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'arial';
  }

h1 {
    margin: auto;
    text-align: center;
   }

#iconBaby {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }


.card-header button {
    color: #007bff;
}
.card-body {
    font-size: 1.1rem;
    line-height: 1.5;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-color: #EFF7F6;
    box-shadow: 5px 1px 5px black;
    align-items: center;
    border-bottom: 1px rgba(220, 210, 210, 0.399);

}

.container-fluid {
    margin-top: 0.5rem;
}

